PUBLIC_URL=YOUR_PUBLIC_NGROK_URL
VIN_DECODER_ENV=development
VIN_DECODER_BASE_DIR=C:/path/to/VIN_decoder
VIN_DECODER_DB_PATH=
VIN_DECODER_LOG_LEVEL=INFO
VIN_DECODER_REQUEST_TIMEOUT_SECONDS=15
VIN_DECODER_DEFAULT_RATE_LIMIT=500 per minute
VIN_DECODER_RATE_LIMIT_STORAGE_URI=memory://
VIN_DECODER_CACHE_TTL_HOURS=168
VIN_DECODER_CLEANUP_TTL_HOURS=24
VIN_DECODER_JOB_POLL_INTERVAL_MS=3000
VIN_DECODER_MAX_CONTENT_LENGTH_MB=16
VIN_DECODER_MAX_RECENT_JOBS=8